@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --container-padding: 1rem;
  --container-max-width-sm: 640px;
  --container-max-width-md: 768px;
  --container-max-width-lg: 1024px;
  --container-max-width-xl: 1200px;
  --container-max-width-2xl: 1200px; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --container-padding: 1rem;
  --container-max-width-sm: 640px;
  --container-max-width-md: 768px;
  --container-max-width-lg: 1024px;
  --container-max-width-xl: 1200px;
  --container-max-width-2xl: 1200px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-max-width-sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-max-width-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-max-width-lg);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-max-width-xl);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: var(--container-max-width-2xl);
  }
} */

@layer utilities {
  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-down {
    animation: fadeDown 0.8s ease-out forwards;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-scale-up {
    animation: scaleUp 1s ease-out forwards;
  }
}
